.icon-footer{
    padding: 20px 0;
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    z-index: 20;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(190, 14, 14, 0.745);
    /* background-color:rgba(128, 128, 128, 0.464); */
}
.icon-footer a{
    font-size: 35px;
    color:white;
    text-decoration: none;
}
@media(max-width:400px){
    .icon-footer a{
        font-size: 25px;
        color:black;
        text-decoration: none;
    }
}
